body{background-color: rgb(209, 203, 177);
}
header{size: cover;
    background-color:rgb(236, 228, 208);
}
div{display: flex;
    width: auto;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.text_head{font-size: 15px;
    text-decoration: none;
    color: rgb(168, 112, 43);
}
.name{font-size: 20px;

}
nav{background-color: rgb(223, 213, 187);
    display: flex;
    height: 40px;
    border-bottom: 4px sandybrown solid;
    justify-content: space-between;

}
span{float: right;
    background-color: transparent;
    display: flex;
  
}
span input{width: 150px;
    height: 20px;
    padding: 4px;
    border-radius: 4%;
    margin-top: 4px;
}
span button{padding-right: 10px;
    height: 30px;
    border-radius: 4%;
    margin-top: 4px;
}
ul{display: flex;
    float: left;
    justify-content: center;
    align-items: center;

} 
ul, li{list-style: none;
    margin-left: 67px;
    margin-right: 67px;

}
ul li a{text-decoration: none;
    color: rgb(0, 0, 0);
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;

}
ul li a:hover{color:  rgb(168, 112, 43);
}
.Acceuil{color:  rgb(168, 112, 43);
}
.bloc{display:flex;
    background-color: rgb(223, 213, 187);
    height: 600px;
}
article{
    width: 300px;
    height: 350px;
    background-color: rgb(243, 242, 240 ,0.3);
    backdrop-filter: blur(6px);
    border-radius: 4%;
    box-shadow: 3px 3px 6px 2px rgb(71, 71, 68);
    cursor:pointer;
    padding: 20px;
    margin: 60px;
    transition: 0.4s;
}
article:hover{transform: scale(0.9);
    box-shadow: 3px 3px 10px 3px rgb(128, 120, 8);
}
img{display: flex;
    width: 240px;
    height: 180px;

}
.lib{font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(168, 112, 43);
    color: black;
    border-radius: 4% ;
    width: 100px;

}
/** traitement du tableau*/
main.table {
    width: 82vw;
    height: 400px;
    background-color: #fff5;

    backdrop-filter: blur(6px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden ;
}

.table__header {
    width: 100%;
    height: 36px;
    margin-right: .5rem;
    padding: .8rem 1rem;
}

.table__body {
    width: 95%;
    max-height: calc(89% - .1.6rem);
    background-color: #fffb;

    margin: .9rem auto;
    border-radius: .6rem;
    overflow: auto;
}

.table__body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: #0005;
    visibility: hidden;
}

.table__body:hover:-webkit-scrollbar-thumb {
    visibility: visible;
}

table {
    width: 100%;
    border: 2px solid black;
}

td img{
    width: 60px;
    height: 60px;
    margin-right: 5rem;
    border-radius: 50%;

    vertical-align: middle;
}


table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
    border: 2px solid rgb(92, 72, 72, 0.3);
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #d5d1defe;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr:hover {
    background-color: #fff6;
}

.status {
    padding: .5rem ;
    border-radius: 1rem;
    text-align: center;
}

.status.Livré {
    background-color: #86e49d;
    color: #006b21;
}

.status.Annulé {
    background-color: #d893a3;
    color: red;
}

.status.En_attente {
    background-color: #ebc474;

}

.status.Expédié {
    background-color: skyblue;
}


@media ( max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

.status.Statut {
    border-radius: 0%;
}